name: Build

on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install NPM packages
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Build project
        run: npm run build

      # TODO: Separate the tests that can be run without a lattice
      #       and run those tests here.
      # - name: Run tests
      #   run: npm run test
